.bgContainer {
  background-color: #07071a;
  padding: 20px 0px;
}

.container {
  background-color: #07071a;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logoImg {
  width: 107px;
  height: auto;
}

.btnContain {
  display: flex;
}

.founderBtn {
  background-color: #252a66;
  padding: 8px 16px;
  border: 0px;
  border-radius: 200px;
  color: #fff;
  font-size: 18px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.agenciesBtn {
  background-color: transparent;
  padding: 8px 16px;
  border: 0px;
  border-radius: 200px;
  color: #a6abe8;
  font-size: 18px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.agenciesBtn:hover {
  background-color: #252a66;
}

.menuContainer {
  display: flex;
  gap: 32px;
  align-items: center;
}

.menuItems {
  display: flex;
  gap: 24px;
}

.menuItems > p {
  font-family: "inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.menuItems a {
  color: #ffffff;
  text-decoration: none;
  font-family: "inter", sans-serif;
}

.loginBtn {
  padding: 12px 16px;
  background-color: transparent;
  color: #ffffff;
  font-family: "inter", sans-serif;
  border: 0px;
  font-size: 16px;
  border-radius: 8px;
}

.signupBtn {
  padding: 12px 16px;
  background-color: #5865f2;
  color: #ffffff;
  font-family: "inter", sans-serif;
  border: 0px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
