.bgContainer {
  background-color: #07071a;
  padding: 20px 0px;
}

.container {
  background-color: #07071a;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 40px;
  z-index: 101;
}

.logoImg {
  width: 107px;
  height: auto;
}

.btnContain {
  display: flex;
}

.founderBtn {
  padding: 8px 16px;
  border: 0px;
  border-radius: 200px;
  color: #a6abe8;
  font-size: 18px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

.agenciesBtn {
  background-color: transparent;
  padding: 8px 16px;
  border: 0px;
  border-radius: 200px;
  color: #a6abe8;
  font-size: 18px;
  font-family: "inter", sans-serif;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
}

.founderBtn:hover,
.active2 {
  background-color: #252a66;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 102;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

.menuContainer {
  display: flex;
  gap: 32px;
  align-items: center;
}

.menuItems {
  display: flex;
  gap: 24px;
}

.menuItem > p {
  font-family: "inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.menuItems a {
  color: #ffffff;
  text-decoration: none;
  font-family: "inter", sans-serif;
}

.menuBtn {
  display: flex;
  gap: 8px;
}

.loginBtn {
  padding: 12px 16px;
  background-color: transparent;
  color: #ffffff;
  font-family: "inter", sans-serif;
  border: 0px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.signupBtn {
  padding: 12px 16px;
  background-color: #5865f2;
  color: #ffffff;
  font-family: "inter", sans-serif;
  border: 0px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.otherBtn {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    max-width: unset;
    padding: 0px 16px;
  }

  .logoContainer {
    gap: 20px;
  }

  .menuContainer {
    gap: 20px;
  }

  .menuItems {
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    background-color: transparent !important;
  }

  .btnContain {
    display: none;
  }

  .menuContainer {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background-color: #0d0d24;
    flex-direction: column;
    justify-content: flex-start;
    padding: 100px 30px 30px;
    transition: right 0.4s ease;
    z-index: 100;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
  }

  .menuContainer.mobileMenuOpen {
    right: 0;
  }

  .menuItems {
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-bottom: 40px;
  }

  .menuItem > p {
    font-size: 20px;
  }

  .menuBtn {
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }

  .loginBtn,
  .signupBtn {
    width: 100%;
    padding: 14px 16px;
    font-size: 18px;
    border: 1px solid #5865f2;
  }
  .otherBtn {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    background: #07071a;
  }

  .otherBtn1 {
    background: #07071a;
    padding: 16px 37px;
    text-align: center;
    border: 0px;
    color: #a6abe8;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    position: relative;
    text-decoration: none;
  }

  .active {
    background-color: #252a66;
    color: #ffffff;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 100%;
  }

  .logoImg {
    width: 90px;
  }

  .otherBtn1 {
    padding: 16px 20px;
  }

  .menuContainer {
    width: 100%;
    z-index: 1;
  }
}
