/* @import url(https://db.onlinewebfonts.com/c/8d2373f2d09f18f8df02fc2b96e27f23?family=Test+Calibre); */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Test Calibre", sans-serif;
  font-weight: 900;
}

p {
  font-family: "inter", sans-serif;
}
