.container {
  background: #0a0a22;
  padding: 95px 0px;
  background-image: url(../../public//assets/Rectangle.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.contain {
  max-width: 85%;
  margin: 0px auto;
}

.heroBtn {
  background: linear-gradient(87.46deg, #04072b -22.69%, #0d1891 133.56%);
  display: flex !important;
  gap: 10px;
  align-items: center;
  padding: 11px 12px;
  color: #ffffff;
  margin: 0 auto;
  font-family: "inter", sans-serif;
  border-radius: 100px;
  font-size: 12px;
  position: relative;
  isolation: isolate;
}

.heroBtn::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 100px;
  background: linear-gradient(
    268.23deg,
    #c7c7c7 -5.7%,
    rgba(242, 242, 242, 0) 111.22%
  );
  z-index: -1;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.heroTexts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.otherTexts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.otherTexts {
  font-weight: 900;
  font-style: Black;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
}

.otherTexts p {
  max-width: 561px;
  margin: 0 auto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  color: #a6abe8;
  text-align: center;
}

.steps {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  justify-content: center;
  padding-top: 56px;
  gap: 24px;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: relative;
}
.step::before {
  content: "";
  position: absolute;
  top: 28px;
  width: 100%;
  left: 50%; /* Radius of first circle */
  right: 100%; /* Radius of last circle */
  height: 3px;
  background: linear-gradient(266.85deg, #5865f2 -2.4%, #9be3c1 101.12%);
  z-index: 1;
  box-shadow: 0 0 10px rgba(96, 165, 250, 0.5);
}

.step:last-child::before {
  display: none;
}

.circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  color: #60a5fa;
  position: relative;
  z-index: 2;
}

.circle::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: 100px;
  background: linear-gradient(266.85deg, #5865f2 -2.4%, #9be3c1 101.12%);
  z-index: -1;
  padding: 4px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.numbers p {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  text-align: center;
}

.texts h4 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 24px;
}

.texts p {
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #a6abe8;
  /* max-width: 198px; */
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.btn > button {
  background-color: #ffffff;
  color: #5865f2;
  padding: 18px 24px;
  font-family: "inter", sans-serif;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}
