.container {
  background: #0a0a22;
  padding: 96px 0px;
}

.contain {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  gap: 64px;
}

.colOne {
  width: 50%;
}

.colOne img {
  width: 100%;
  height: 100%;
}

.colTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  gap: 40px;
}

.ctaButton {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.colTwo > img {
  width: 254px;
  height: auto;
}

.colTwo > h2 {
  font-weight: 900;
  color: #ffffff;
  font-size: 34px;
  line-height: 44px;
}

.ctaOne {
  background: #5865f2;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px 24px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
}

.ctaTwo {
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 18px 24px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #5865f2;
  border: 0px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 64px 16px;
  }
  .contain {
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .colOne {
    width: 100%;
  }
  .colTwo {
    width: 100%;
    align-items: normal;
    justify-content: center;
  }
  .ctaButton {
    flex-direction: column;
  }
  .ctaOne,
  .ctaTwo {
    justify-content: center;
  }
}
